<h2><%= @shop.shop_name %></h2>
<ul class="list-unstyled">
	<li>
		<strong>Address: </strong>
		<%= @shop.shop_address %>
	</li>
	<li>
		<strong>Postcode: </strong>
		<%= @shop.shop_postcode %>
	</li>
	<li>
		<strong>Phone: </strong>
		<%= @shop.shop_phone %>
	</li>
	<li>
		<strong>Other Phone: </strong>
		<%= @shop.shop_other_phone %>
	</li>
</ul>